/*-------------------------------------CSS Resets----------------------------------------------*/
html {min-height: 100%;height: auto !important;height: 100%;}
body{color: #404040;font-family: Arial;font-size: 14px;display:block;margin:0;background:#e6e6e6;}
*::selection {color: #fff;background: #999;}
*{box-sizing:border-box;}
/*-------------------------------------CSS Resets----------------------------------------------*/

/*-------------------------------------------------------------------Login Page Styles-------------------------------------------------------------------*/

.osLogin{background: url("../images/login_bkgd.jpg") no-repeat center center fixed #000;-webkit-background-size: cover;-moz-background-size:cover; -o-background-size: cover;background-size: cover;height: 100%;width:100%;}
.masterHeader{backface-visibility: visible;background-color: transparent;min-height: 40px;margin-bottom: 0;}
.globalNavigation{box-shadow:0 0 0 transparent;background-image:none;background-color: rgba(0, 0, 0, 0.5);border-bottom: 0;min-height: 40px;}
.osGrid{display:block;height:auto !important;text-align:left;padding:0 13px;min-height:480px;margin:0 auto;width:100%;max-width:980px;}
.osLoginBox{border-radius:8px;background-clip:padding-box;background-color: rgba(239, 239, 239, 0.9);position: relative;top: 100px;margin: 0 auto;width: 100%;max-width: 560px;min-width: 0;padding: 2px 20px 3px 20px;}
.osLoginHeader{margin:0 0 10px 0;float:none;padding:0 0 1px 0;}
.osLoginHeading{font-size: 32px;font-weight: 400;line-height: 52px;text-align:center;color:#355379}
.osLoginHeading span{font-weight:normal !important;}
.osLoginHeaderText{margin: 0 auto;width: 75%;text-align: center;}
.osLoginContent{float:none;margin:left:0;min-height:180px;width:100%;padding:0 0 1px 0;}
.osLoginContentBox{background-color:#fff;border:1px solid #999;position:relative;margin-bottom:18px;padding:15px 15px 0 15px;background-clip:padding-box;border-radius:9px;}
.boxHeader h4{text-align:center;margin-bottom:10px;font-size:18px;font-weight:200;line-height:25px;margin-top:0;color:#333;}
.boxBody{margin-bottom:0;}
fieldset{border:0;padding:0;margin:0 0 3% 0;}
fieldset ol{margin:0;padding:0;list-style-position:outside;list-style:none;}
fieldset ol li{margin-left:0%;line-height:20px;}
.loginBtn{-webkit-appearance: button;cursor: pointer;font-size:15px;background-image: linear-gradient(to bottom, #69dd14, #2d6e0c);background-repeat:repeat-x;text-shadow: 0 -1px 1px transparent;color: #fff;border-radius:10px;box-shadow:0 0 0 transparent;background-clip:padding-box;backface-visibility:hidden;position:relative;text-align:center;padding:6px 11px;min-width:100px;line-height:15px;font-weight:normal;border:1px solid #B4B4B4;outline:none !important;}
input[type="text"]{border-radius:4px;background-clip:padding-box;background-color:#fff;height:auto;display:inline-block;padding:2px;box-shadow:inset 0 1px 1px #EFEFEF;margin-bottom:10px;font-size:12px;vertical-align:middle;margin:0;text-transform: none;text-indent: 0px;text-shadow: none;}
.osFooter{position:relative;text-align:left;backface-visibility:visible;color:#999;margin:18px 0 5px 0;}
.osFooterBckgrd{width:100%;background-color:rgba(0, 0, 0, 0.5);position:fixed;bottom:0;height:40px;z-index:5;}
.osFooterContent{width: 100%;position: fixed;bottom: 0;min-height: 0;margin: 0;padding: 0;z-index: 10;}
.osFooterLogo{height:40px;padding:10px 10px 0 10px;margin-left:0;float:left;}
.osFooterCopyright{float:right;height:40px;padding:10px 10px 0 10px;margin-right:0;}
.osFooterCopyright p{margin:0 auto;color:#fff;font-size:12px;}

/*-------------------------------------------------------------------Login Page Styles-------------------------------------------------------------------*/

/*-------------------------------------------------------------------Header and Footer Styles-------------------------------------------------------------------*/

.topNav .fixed{position:fixed;z-index:10000;}
.topNav{background:#002c77;overflow:visible;margin-bottom:0;height:55px;line-height:55px;}
.fixed{width:100%;left:0;top:0;position:fixed;z-index:10;}
.topNavContent{left:45px;right:45px;padding: 0 10px;position: absolute;text-align: center;height:45px;top: 0;}
.topNavContent p{text-align: center;width: 30%;margin: 0 auto;color: #fff;font-weight: normal;font-size: 24px;display:inline-block;}
.topNavContent h2{font-size:14px;color:#fff;float:right;width:30%;}

/*-------------------------------------------------------------------Header and Footer Styles-------------------------------------------------------------------*/

.osContentSection{padding-top:100px;padding-bottom:100px;}
.osInnerContent{margin:0 auto;position:relative;max-width:980px;min-height:300px;}
.osInnerContentLeft{width:66%;float:left;padding-left:5px;padding-right:5px;}
.osInnerContentRight{width: 34%;float: right;border: 1px solid #ccc;border-radius: 6px;padding: 5px;margin: 11px 0;min-height:620px;background-color:#fafafa;}
.osInnerContentLeft h3{color:#002c77;font-size:20px;}
.osInnerContentDataBox{width: 46%;float: left;border: 1px solid #ccc;padding:5px;margin:11px;text-align:center;border-radius:6px;min-height:300px;background-color:#fafafa;}
.osInnerContentDataBox p{font-size:16px;}
.osInnerContentDataGrid{float: left;width: 97%;border-radius: 6px;border: 1px solid rgb(204, 204, 204);margin: 2% 1%;padding: 1%;}
ul.firstlevellist{list-style-type:none; margin-bottom:10px;}
ul.firstlevellist li{margin:4px 0 4px 20px;}
ul.secondlevellist{margin-bottom:10px;list-style-type:disc;width:100%;}
ul.secondlevellist li{margin:4px 0 4px 20px;font-size:12px;}
.osPolicyContentDetails h4{color:#002c77;font-size:15px;font-weight:600;border-bottom:1px solid #ccc;background-color:#a6e2ef;padding:1%;border-radius:6px;}
.osPolicyContentDetails h3{font-size:15px;font-weight:600;border-bottom:1px solid #ccc;color:#002c77;background-color:#a6e2ef;padding:1%;border-radius:6px;}
.osPolicyContentDetails h5{font-size:14px;font-weight:600;color:#404040;margin:0;}
.osPolicyContentDetails h2{font-size: 16px;padding-left: 4px;color: rgb(0, 44, 119);}
.osPolicyContentDetails{width:100%;max-width:980px;padding-left:10px;padding-right:10px;border:1px solid #ccc;border-radius:5px 5px 5px 5px;margin:0 auto;position:relative;max-width:980px;min-height:300px;background-color:#fafafa;}
.osInnerContentLeft a{color:#404040;}
.osPolicyContentList{width:100%;max-width:1300px;border-radius:5px 5px 5px 5px;margin:0 auto;position:relative;min-height:300px;}
.osPolicyContentList section{width:48%;float:left;border-radius:6px;margin:0 1% 1% 1%;background-color:#fafafa;min-height:200px;}
.tabCount{font-size:16px;font-weight:600;color:#002c77;float:left;padding-left:2%;}
.tabCount span{color:#404040;font-size:14px;}
.osInnerContentRight img{float:right;margin-right:2%;}
.osBtnGraph{text-align:center;margin-top:1%;}
.osBtnEdit a{color:#404040;font-size:11px;text-decoration:none;font-weight:bold;outline:none;}
.osBtnEdit{float: right;padding-right: 2%;}
.w100{width:99%;}
.w100 tr:nth-child(1), .w98 tr:nth-child(1){background-color:#00a8c8 !important;}
.w100 tr:nth-child(odd), .w98 tr:nth-child(odd){background-color:#a6e2ef;}
.w98{width:98%;}
.w98 th{font-size:11px;}
.w98 tr:first-child{border-bottom:1px solid #808080;}
.w98 tr{border-bottom:none;}
table{border-color: #808080;border-style: solid;border-width: 1px 1px 2px;font-size:11px;margin: 18px 5px;border-radius:6px;}
tr{border-bottom: 1px solid #808080;text-align:left;}
table tr:first-child{font-size:13px;color:#002c77;}
.osGridInfo{display:inline-block;width:100%;}
.osGridInfo div{width:50%;float:left;}
.osGridButtons{width:100%;margin:0 auto;text-align:center;padding-bottom:2%;}
input[type="button"]{border-radius:4px;background-clip:padding-box;background-color:#a6e2ef;height:auto;display:inline-block;padding:3px;color:#002c77;font-size:12px;vertical-align:middle;margin:5px;text-transform: none;text-indent: 0px;text-shadow: none;min-width:100px;font-weight:600;}
.osArrows{display: inline-block;background-image: url("../images/right-arrow.png");width: 590px;height:71px;background-repeat: no-repeat;margin: 7px 12px;text-align: center;}
label { display: inline-block; width: 210px; text-align: left; }
.btn-info {color: #fff;background-color: #5bc0de;border-color: #46b8da;}
.btn {
    display: inline-block;
    padding: 6px 14px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;}
.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
/*-------------------------------------------------------------------Chat Box Styles-----------------------------------------------------------------------*/

.osChatBoxDetails{width: 100%;max-width: 980px;padding-left: 10px;padding-right: 10px;border: 1px solid #ccc;border-radius: 5px 5px 5px 5px;margin: 0 auto;position: relative;max-width: 480px;min-height: 400px;background-color: #fafafa;}
.osList{float:left;font-size:20px;color:#404040;width:100%;}
.osList li{padding: 1%;list-style-type: none;display: inline-block;width: 52%;float: left;}
.osList li img{float:right;margin-left:2%;}
.osChatBoxDetails button{margin-top:5	%;}
/*-------------------------------------------------------------------Chat Box Styles-----------------------------------------------------------------------*/